<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stageapplicatie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Stageapplicatie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'films' %}active{% endif %}" href="{{ url_for('films.lijst') }}">Films</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('films.toevoegen') }}">Voeg film toe</a>
                        <a class="dropdown-item" href="{{ url_for('films.verwijderen') }}">Verwijder film</a>
                        <a class="dropdown-item" href="{{ url_for('acteurs.toevoegen') }}">Voeg acteur toe</a>
                        <a class="dropdown-item" href="{{ url_for('acteurs.lijst') }}">Bekijk acteurs</a>
                        <a class="dropdown-item" href="{{ url_for('regisseurs.toevoegen') }}">Voeg regisseur toe</a>
                        <a class="dropdown-item" href="{{ url_for('regisseurs.lijst') }}">Bekijk regisseurs</a>
                        <a class="dropdown-item" href="{{ url_for('rollen.toevoegen') }}">Voeg rol toe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Uitloggen</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Inloggen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'register' %}active{% endif %}" href="{{ url_for('register') }}">Registreren</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
